{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="outer-container">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-header flex justify-content-center align-items-center"
                         style="background-image: url('../static_in_env/images/contact-bg.jpg')">
                        <h1>Contact</h1>
                    </div><!-- .page-header -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .hero-section -->

        <div class="container single-page contact-page">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="content-wrap">
                        <header class="entry-header">
                            <h2 class="entry-title">Contact me or just say HI</h2>

                            <div class="tags-links">
                                <a href="#">#winter</a>
                                <a href="#">#love</a>
                                <a href="#">#snow</a>
                                <a href="#">#january</a>
                            </div><!-- .tags-links -->
                        </header><!-- .entry-header -->

                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis,
                                volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet laoreet
                                neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. Quisque in
                                porttitor magna, a imperdiet est. Donec accumsan justo nulla, sit amet varius urna
                                laoreet vitae. Maecenas feugiat fringilla metus. Nullam semper ornare quam eu sagittis.
                                Curabitur ornare sem eu dapibus rutrum. Sed lobortis eros ut sapien lobortis, euismod
                                dignissim odio interdum. Integer finibus molestie tellus sit amet egestas. Aliquam
                                ullamcorper magna in ipsum sollicitudin imperdiet consectetur vitae nunc. Maecenas vel
                                erat et erat lobortis porttitor ac id diam. </p>
                        </div><!-- .entry-content -->

                        <form class="contact-form">
{#                            <input type="text" placeholder="Name">#}
{#                            <input type="email" placeholder="Email">#}
{#                            <textarea rows="18" cols="6" placeholder="Messages"></textarea>#}
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="Send message">
                        </form><!-- .contact-form -->
                    </div><!-- .content-wrap -->
                </div><!-- .col -->
                {% include 'sidebar.html' %}
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .outer-container -->
{% endblock content %}