<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-branding flex flex-column align-items-center">
                    <h1 class="site-title"><a href="/" rel="home" class="main-img">Rip van Winkle</a></h1>
                    <p class="site-description">The IT blog website</p>
                </div><!-- .site-branding -->

                <nav class="site-navigation">
                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->

                    <ul class="flex-lg flex-lg-row justify-content-lg-center align-content-lg-center">
                        <li><a href="#">Programowanie</a></li>
                        <li><a href="#">Technologie</a></li>
                        <li><a href="#">Książki</a></li>
                        <li><a href="#">Inne</a></li>
                        <li><a href="contact">Kontakt</a></li>
                    </ul>
                </nav><!-- .site-navigation -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</header>