<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-branding flex flex-column align-items-center">
                    <h1 class="site-title"><a href="/" rel="home" class="main-img">Website</a></h1>
                    <p class="site-description">Dodaj tutaj swój text</p>
                </div><!-- .site-branding -->

                <nav class="site-navigation">
                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->

                    <ul class="flex-lg flex-lg-row justify-content-lg-center align-content-lg-center">
                        {% for category in category_list %}
                            <li><a href="/category/{{ category.title }}">{{ category.title }}</a></li>
                        {% endfor %}
                        <li><a href="/contact">Kontakt</a></li>
                    </ul>
                </nav><!-- .site-navigation -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</header>